html, body {
  background-color: #eee;
}

canvas {
  margin: 1px 0px;
}

ecg-simulator {
  display: inline-block;
  background-color: white;
}

.center {
  text-align: center;
}

.container.signin {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container.main {
  padding-top: 75px;
}

.container.action-chooser {
  padding-top: 75px;
  width: 300px;
}

.container.action-chooser > div {
  padding: 5px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.answers-list .active {
  background-color: rgba(92, 184, 92, 0.75);
  border-color: #5CB85C;
}

.answers-list .active:hover {
  background-color: rgba(92, 184, 92, 1);
  border-color: #5CB85C;
}

.answers-list li {
  cursor: pointer;
}

.font-25 {
  font-size: 25pt;
}

.font-35 {
  font-size: 35pt;
}

.font-45 {
  font-size: 45pt;
}

.result-page header {
  font-size: 32pt;
  text-align: center;
}
.result-page content {
  display: block;
  font-size: 64pt;
  text-align: center;
}
.result-page content small {
  font-size: 0.7em;
  color: rgb(100, 100, 100);
}

.admin-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  top: auto;

  color: rgba(0, 0, 0, 0.3);
}
.admin-btn:hover, .admin-btn:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.teach-page {
  padding-bottom: 15px;
}

.teach-page .image {
  text-align: center;
}
.teach-page .image > img {
  max-width: 100%;
}

.teach-page h4 {
  margin-left: 10pt;
}

.teach-page ecg-showcase > canvas {
  box-shadow: 1px 1px 2px gray;
}
