<html ng-app="ecg">
<head>
  <title>Electrocardiography</title>

  <script src="lib/jquery-2.1.1.js"></script>
  <script src="lib/bootstrap.js"></script>
  <script src="lib/angular.js"></script>
  <script src="lib/BSpline.js"></script>

  <script src="js/app.js"></script>
  <script src="js/request-animation-frame.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/directives/input-ecg.js"></script>
  <script src="js/directives/ecg-simulator.js"></script>
  <script src="js/services/authentication.js"></script>
  <script src="js/services/cardio.js"></script>
  <script src="js/services/electrodes.js"></script>
  <script src="js/services/settings.js"></script>
  <script src="js/services/questions.js"></script>
  <script src="js/services/waves.js"></script>
  <script src="js/services/result-wave.js"></script>

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/app.css" />
</head>
<body ng-controller="MainController">

  <div class="container signin-container" ng-if="!authenticated">
    <form class="form-signin" role="form" ng-submit="signIn()">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label class="sr-only">Login</label>
      <input ng-model="user.login" type="text" class="form-control" placeholder="Login" required="" autofocus="" />
      <label class="sr-only">Password</label>
      <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>

  <div ng-if="authenticated">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ECG Examinator</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text">
                Signed in as <a href="#" class="navbar-link" ng-bind="user.login"></a>
              </p>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" ng-click="signOut()">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                Sign out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container main-container">

      <!-- <div class="row">
        <div class="col-xs-6 col-md-4">
          <input-ecg></input-ecg>
        </div>
        <div class="col-xs-12 col-md-8"> -->
      <center>
        <div>
          <ecg-simulator></ecg-simulator>
        </div>
        <div>
          <ecg-simulator noise="0.2"></ecg-simulator>
        </div>
        <div>
          <ecg-simulator noise="0.5"></ecg-simulator>
        </div>
      </center>
      <!--   </div>
      </div> -->

      <hr />

      <div ng-if="questNum <= questCount">

        <h3>
          Question #<strong ng-bind="questNum"></strong> of <strong ng-bind="questCount"></strong>:
        </h3>

        <ul class="list-group answers-list">
          <li class="list-group-item" ng-repeat="answer in question.answers"
              ng-class="{active: answer.id == question.choice}"
              ng-bind="answer.text" ng-click="makeChoise(answer.id)">
          </li>
        </ul>
        <button type="button" class="btn btn-primary btn-lg btn-block"
                ng-show="question && question.choice != undefined"
                ng-click="getNextQuestion()">
          <span ng-show="questNum < questCount">
            Next
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </span>
          <span ng-show="questNum == questCount">
            Check me, i am ready!
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </span>
        </button>

      </div>

      <div ng-if="questNum > questCount">
        <div class="alert alert-info font-25" role="alert">
          Your result:
          <span class="text-success font-45" ng-bind="correct"></span>
          /
          <span class="text-warning" ng-bind="questCount"></span>
        </div>
      </div>

    </div>

  </div>

</body>
</html>
