<div class="container teach-page">
  <div class="page-header">
    <h1>Теорія</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Структура серцевого циклу</h3>
      <p>
        На ЕКГ серцевий цикл розділений на зубці та інтервали,
        кожен з яких відповідає певній фазі розповсюдження хвилі
        збудження у міокарді.
      </p>

      <h4>Зубець Р</h4>
      <p>
        Зубець P відповідає деполяризації передсердь (макс 0.12 сек)
      </p>

      <h4>Інтервал P-Q</h4>
      <p>
        Інтервал P-Q — поширення деполяризації до атріовентрикулярного вузла
        (проміжок часу від початку збудження передсердь до початку
        збудження шлуночків)
      </p>

      <h4>Комплекс QRS</h4>
      <p>
        Шлуночковий комплекс QRS (макс 0.10 сек, але у 21 % населення
        діагностується розширення комплексу до 0.12 сек, яке не вважається
        патологією) складається з трьох окремих зубців Q, R, S
        і відображає розповсюдження збудження тканиною шлуночків.
      </p>
      <ul>
        <li>Q — перший негативне відхилення від ізоелектричної лінії</li>
        <li>R — перший позитивне відхилення</li>
        <li>S — негативне відхилення після R зубця</li>
      </ul>

      <h4>Сегмент S-T</h4>
      <p>
        Повна деполяризація волокон міокарда шлуночків
        (тому різниця потенціалів не виявляється)
      </p>

      <h4>Зубець Т</h4>
      <p>
        Зубець Т — хвиля реполяризації шлуночків
      </p>

      <h4>U хвиля</h4>
      <p>
        U хвиля є непостійним компонентом і може з'являтися при
        електролітних порушеннях (наприклад, гіпокаліємії)
      </p>
    </div>
    <div class="col-md-4 image">
      <img src="images/ecg.png">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>Відведення</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="3">Стандартні відведення</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center">Відведення</td>
            <td class="center">підключення до "+" полюса гальванометра</td>
            <td class="center">підключення до "-" полюса гальванометра</td>
          </tr>
          <tr>
            <td class="center">I</td>
            <td>ліва рука</td>
            <td>права рука</td>
          </tr>
          <tr>
            <td class="center">II</td>
            <td>ліва нога</td>
            <td>права рука</td>
          </tr>
          <tr>
            <td class="center">III</td>
            <td>ліва нога</td>
            <td>ліва рука</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4 image">
      <ecg-showcase></ecg-showcase>
    </div>
  </div>
</div>
